<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Главно меню" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Настройки" tabIcon="settings"></ion-tab>
  <ion-tab
          *ngIf="_user.getUser().bussinessClient"
          [root]="tab5Root"
          tabTitle="Съобщения"
          tabIcon="chatboxes"
          [tabBadge]="_chat.getNewFirmMsg()"
  >

  </ion-tab>
    <ion-tab
          *ngIf="!_user.getUser().bussinessClient"
          [root]="tab5Root"
          tabTitle="Съобщения"
          tabIcon="chatboxes"
          [tabBadge]="_chat.getNewUserMsg()"
  >

  </ion-tab>

  <ion-tab
          *ngIf="!(_user.getUser().bussinessClient)"
          [root]="tab3Root"
          tabTitle="Заявки"
          tabIcon="filing"
          [tabBadge] = "_requests.getNewAnswers()"
  >

  </ion-tab>
  <ion-tab
          *ngIf="_user.getUser().bussinessClient"
          [root]="tab4Root"
          tabTitle="Запитвания"
          tabIcon="filing"
          [tabBadge] = "_requests.getNewRequests()"

  >

  </ion-tab>
  <ion-tab
          *ngIf="_user.getUser().bussinessClient"
          [root]="tab6Root"
          tabTitle="График"
          tabIcon="filing"

  >

  </ion-tab>

</ion-tabs>
